<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Phoenix</LastUsedBuildConfiguration>
    <LastUsedPlatform>x86</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\projects\Phoenix Dashboard\Asterisk Queue Viewer.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Asterisk Queue Viewer</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="STLNTDBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=cmc-primary.a1sopps.local;Initial Catalog=STLNTDB;User ID=startelopr;Password=1letrats" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.20.7;Initial Catalog=STLNTDB;User ID=startelopr;Password=1letrats" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\STLNTDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.20.7;Initial Catalog=STLNTDB;User ID=startelopr;Password=1letrats" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="STLNTDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=cmc-primary.a1sopps.local;Initial Catalog=STLNTDB;User ID=startelopr;Password=1letrats</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>