<div class="row-fluid">
    <div class="col-md-12">
        <div id="agentsGrid" ui-grid="gridFullOptions" class="memberGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-auto-resize ui-grid-save-state></div>
    </div>
</div>


