<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="c:\temp\nlog-internal-dashboard.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logDirectory" value="${basedir}/App_Data/logs/${shortdate}"/>
  <variable name="archiveDirectory" value="${basedir}/App_Data/logs/archive/${shortdate}"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

	  <target name="info" xsi:type="File" fileName="${logDirectory}/info/${logger}.csv" layout="${threadid},${longdate},${level:uppercase=true},${callsite:className=false:includeNamespace:false:includeSourcePath=false},${message}"
		  archiveAboveSize="52428800"
		  archiveEvery="Day"
		  archiveNumbering="Rolling"
		  maxArchiveFiles="10" />
	  <target name="debug" xsi:type="File" fileName="${logDirectory}/debug/${logger}.csv" layout="${threadid},${longdate},${level:uppercase=true},${callsite:className=false:includeNamespace:false:includeSourcePath=false},${message}"
        archiveAboveSize="52428800"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="10" />
    <target name="error" xsi:type="File" fileName="${logDirectory}/error/${logger}.txt" layout="${threadid},${longdate},${level:uppercase=true},${callsite:className=false:includeNamespace:false:includeSourcePath=false},${message},${exception:format=tostring}"
        archiveAboveSize="52428800"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="10"/>
  </targets>

  <rules>
	<logger name="*" levels="Info" writeTo="info" />
	<logger name="*" levels="Debug" writeTo="debug" />
	<logger name="*" levels="Warn,Error" writeTo="error" />
  </rules>
</nlog>
